/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #000;
$primary: #002935;
$secondary: #747474;
$ternary: #c6c6c6;
$border: #dedede;
$gray: #f8f9fa;
$accent: #573cff;
