.cs_accordian.cs_style_1 {
  background-color: $white;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(221, 221, 221, 0.45);
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  .cs_accordian_title {
    padding: 20px 26px;
    line-height: 1.3em;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .cs_accordian_toggle {
    width: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(184, 184, 184, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    img {
      transition: all 0.4s ease-in-out;
    }
  }
  .cs_accordian_body {
    padding: 0 30px 20px 30px;
    line-height: 1.625em;
  }

  &.active {
    .cs_accordian_toggle {
      background-color: $accent;

      img {
        transform: rotateX(180deg);
      }
    }
  }
}

.cs_accordian.cs_style_2 {
  .cs_accordian_title {
    padding: 20px 40px;
    line-height: 1.3em;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .cs_accordian_toggle {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);

    i {
      transition: all 0.4s ease-in-out;
      font-size: 16px;
    }
  }

  &.active {
    .cs_accordian_title {
      padding-bottom: 15px;
    }

    .cs_accordian_toggle i {
      transform: rotateX(180deg);
    }
  }

  .cs_curriculum_title {
    color: $primary;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
  }

  .cs_curriculum_icon {
    color: $secondary;
    font-weight: 400;
  }

  .cs_accordian_body {
    padding: 10px 40px 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $primary;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .cs_curriculum_left,
  .cs_curriculum_right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
