.cs_admin_courses {
  hr {
    border-width: 2px;
    background-color: $white;
  }
}
/*--------------------------------
Chat section design
-----------------------------------*/
.cs_user_list {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 450px;
  &::-webkit-scrollbar {
    display: none;
  }
  li {
    padding: 20px 30px;
    border-bottom: 1px solid $border;
    cursor: pointer;
    &:first-child {
      background-color: $primary;
      cursor: text;
    }
    &:nth-child(2) {
      cursor: text;
    }
    &:last-child {
      border-bottom: 0;
    }
    .cs_chat_list_title {
      line-height: 45px;
    }
    .cs_searchbox {
      width: 100%;
      border-radius: 20px;
      position: relative;
      .cs_form_field {
        background-color: transparent;
        border-radius: 30px;
      }
      .cs_search_icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    .cs_chat_user {
      position: relative;
      padding-left: 65px;
      .cs_user_icon {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .cs_active_status {
          width: 15px;
          height: 15px;
          background-color: $accent;
          border: 3px solid $white;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .cs_user_title {
        margin-bottom: 0;
        line-height: 1.556em;
      }
    }
  }
}
.cs_message_wrapper {
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  .cs_user_profile {
    border-bottom: 1px solid $border;
    padding-bottom: 20px;
    .cs_chat_user {
      position: relative;
      padding-left: 65px;
    }
    .cs_user_icon {
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0;
      top: 0;
    }
    .cs_user_title {
      margin-bottom: 0;
    }
    .cs_user_chat_option a {
      width: 40px;
      height: 40px;
      border: 1px solid $border;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $secondary;
      transition: all 0.4s ease;
      &:hover {
        background-color: $accent;
        border-color: $accent;
        color: $white;
      }
    }
  }
  .cs_meessage_sent {
    ul {
      max-height: 450px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    li {
      padding-left: 65px;
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      &.cs_admin {
        text-align: right;
        padding-right: 80px;
        .cs_message_info p {
          margin-left: auto;
        }
      }
      .cs_sender_icon {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        top: 20px;
      }
      .cs_receiver_icon {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 15px;
        top: 20px;
      }
      .cs_message_info p {
        width: max-content;
        background-color: rgba($secondary, 0.1);
        padding: 10px 20px;
        border-radius: 5px;
      }
    }
  }
  .cs_text_input {
    width: 95%;
    background-color: rgba($secondary, 0.1);
    border-radius: 30px;
    position: relative;
    padding-right: 30px;
    input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 10px 50px 10px 75px;
    }
    .cs_file_icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 100%;
      border-right: 1px solid $border;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
    button {
      width: 50px;
      height: 50px;
      border: none;
      padding: 10px 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-color: $accent;
      color: $white;
      border-radius: 50%;
    }
  }
}
/*----------------------------------
 Profile setting styling
------------------------------------*/
.cs_profile_menu {
  width: 100%;
  height: 100%;
  padding: 60px 0;
  border-right: 1px solid $border;
  h3 {
    margin: 0 0 34px 42px;
  }
}

.cs_profile {
  padding: 60px 40px;
  h3 {
    margin: 0 0 40px 0;
  }
  .cs_profile_intro {
    padding: 0 0 45px 120px;
    .cs_profile_thumb {
      position: absolute;
      left: 0;
      top: -10px;
      .cs_thumb_edit {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $accent;
        color: $white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        bottom: 5px;
        right: 0;
        cursor: pointer;
      }
    }
  }
  .cs_profile_form {
    .cs_form_field {
      background-color: transparent;
    }
    input[type="file"] {
      background-color: rgba($gray, $alpha: 0.9);
    }
    label {
      margin-bottom: 10px;
    }
    .cs_choose_thumb_field {
      width: 100%;
      min-height: 150px;
      border: 1px solid $border;
      border-radius: 5px;
      background-color: rgba($gray, 0.9);
      input {
        width: 100%;
        height: 150px;
        background-color: transparent;
        border: none;
      }
    }
    .cs_camera_icon {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      span {
        display: inline-block;
      }
    }
  }
  .cs_custom_select_wrap {
    padding: 13px 0;
    border: 1px solid $border;
    border-radius: 5px;
    .select2-container {
      display: block;
    }
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered,
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow::before {
    color: $secondary;
  }
  &.cs_affiliate {
    h3 {
      margin-bottom: 25px;
    }
    hr {
      margin: 0 0 20px 0;
    }
  }
}
input[type="file" i]::-webkit-file-upload-button {
  display: none;
}
/*----------------------------------
 Support section styling
------------------------------------*/
.cs_support {
  .cs_helpful_btns {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .cs_btn.cs_style_1:last-child {
    border: 2px solid $accent;
    background-color: transparent;
    color: $accent;
    padding: 14px 25px;
    &:hover {
      color: $white;
      &::after {
        background-color: $accent;
      }
    }
  }
}
/*----------------------------------
 Wallet section styling
------------------------------------*/
.cs_wallet {
  .cs_balance_box {
    width: 100%;
    max-width: 300px;
    background-color: rgba($gray, 0.9);
    padding: 20px 0 20px 30px;
    border-radius: 10px;
    margin: 30px 0;
    span {
      margin-left: 10px;
    }
  }
  .cs_affiliate_top_btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    a {
      padding: 10px 25px;
      border-radius: 2px;
      border: 2px solid $accent;
      &.cs_modal_btn {
        background-color: $accent;
        color: $white;
      }
    }
  }
}
