.cs_btn.cs_style_1 {
  min-width: 190px;
  padding: 16px 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.5em;
  position: relative;
  color: $white;
  overflow: hidden;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    transition: all 0.4s ease;
  }
  span {
    position: relative;
    z-index: 2;
  }
  svg {
    position: relative;
    z-index: 2;
    margin-left: 7px;
  }

  &:hover::after {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

button.cs_btn.cs_style_1 {
  border: none;
}

.cs_card_btn {
  display: inline-block;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.cs_card_btn.cs_type_1 {
  background: #ebe8fe;
  width: 100%;
  padding: 10px 20px;
}

.cs_card_btn.cs_type_2 {
  padding: 10px 38px;
  background-color: $accent;
  color: $white;
  line-height: 30px;

  &:hover {
    background-color: #ebe8fe;
    color: $primary;
  }
}
/*---------------------------
 Social Button Design
-----------------------------*/
.cs_social_btn.cs_style_1 {
  display: flex;
  gap: 10px;

  li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
  }
}
