.cs_btn.cs_style_1 {
  min-width: 190px;
  padding: 16px 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.5em;
  transition: all 0.4s ease-in-out;

  svg {
    margin-left: 7px;
  }

  &:hover {
    background-color: $white;
    color: $accent;
  }
}

button.cs_btn.cs_style_1 {
  border: none;
}

.cs_card_btn {
  display: inline-block;
  text-align: center;
  transition: all .4s ease-in-out;
}

.cs_card_btn.cs_style_1 {
  background: #EBE8FE;
  width: 100%;
  padding: 10px 0;
}

.cs_card_btn.cs_style_2 {
  padding: 10px 38px;
  background-color: $accent;
  color: $white;
  line-height: 30px;

  &:hover {
    background-color: #EBE8FE;
    color: $primary;
  }
}