.cs_card.cs_style_1 {
  .cs_card_thumb {
    display: block;
  }

  .cs_card_badge,
  .cs_card_review {
    padding: 10px 14px;
    background: rgba(0, 41, 53, 0.65);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    text-align: center;
    font-size: 14px;
    line-height: 1.071em;
  }

  .cs_card_badge {
    top: 0;
    right: 0;
    transition: all 0.4s ease-in-out;
  }

  .cs_card_review {
    left: 0;
    bottom: 0;
  }

  .cs_card_info {
    padding: 25px 20px 30px;
    background: $white;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  }

  .cs_card_title {
    line-height: 1.458em;
    margin-bottom: 5px;
  }

  .cs_card_subtitle {
    line-height: 1.438em;
    margin-bottom: 20px;
  }

  .cs_card_badges {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 25px;
  }

  .cs_card_badge_icon {
    width: 30px;
    height: 30px;
  }

  &:hover {
    .cs_card_btn,
    .cs_card_badge {
      background-color: $accent;
      color: $white;
    }
  }

  .cs_rating {
    transform: scale(0.583);
    margin-right: -35px;
    letter-spacing: 8px;
    width: 170px;
    margin-right: -28px;
    line-height: 1.071em;
  }
}

.cs_card.cs_style_2 {
  background: #f8f9fa;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  padding: 47px 30px;
  position: relative;

  .cs_card_content {
    padding-right: 205px;
  }

  .cs_card_title {
    line-height: 1.433em;
    margin-bottom: 13px;
  }

  .cs_card_subtitle {
    line-height: 1.625em;
    margin-bottom: 18px;
  }

  .cs_card_thumb {
    width: 200px;
    position: absolute;
    bottom: -1px;
    right: 0px;
  }
}

.cs_card.cs_style_3 {
  .cs_card_thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    transform: rotate(-45deg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .cs_card_overlay {
      width: inherit;
      height: inherit;
      background: rgba(0, 41, 53, 0.2);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px;

      &::after {
        content: "";
        width: 110%;
        height: 110%;
        border: 1px dashed $accent;
        position: absolute;
        top: -5%;
        left: -5%;
        border-radius: 5px;
      }
    }
  }

  .cs_card_arrow {
    display: inline-block;
    position: absolute;
    top: 24%;
    right: -70px;
    transform: translateY(-24%);
  }

  .cs_card_badge {
    width: 80px;
    height: 80px;
    background-color: #f5f9f9;
    border: 2px dashed $accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    right: -65px;
    z-index: 5;
    font-size: 26px;
    line-height: 36px;
    transform: rotate(45deg);
    transition: all 0.4s ease-in-out;
  }

  .cs_card_title {
    font-size: 26px;
    line-height: 1.385em;
    margin-top: 80px;
  }

  &:hover {
    .cs_card_badge {
      background-color: $accent;
      color: $white;
    }
  }
}

.cs_card.cs_style_4 {
  .cs_card_thumb {
    overflow: hidden;
  }

  .cs_card_badge {
    padding: 8px 20px;
    position: absolute;
    left: 0;
    bottom: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    transform: translateX(-135px);
    transition: all 0.5s ease-in-out;
  }

  .cs_badge_btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid $white;
    background-color: $accent;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    right: -20px;
    filter: drop-shadow(2px 2px 7px rgba(123, 4, 4, 0.2));

    .fa-arrow-right-long {
      transform: translateX(-40px);
      transition: inherit;
      opacity: 0;
    }

    .fa-plus {
      transform: translateX(8px);
      opacity: 1;
      transition: inherit;
    }
  }

  .cs_social_container {
    padding-right: 30px;
    display: flex;
    gap: 20px;

    i {
      color: $white;
    }
  }

  &:hover {
    .cs_hover_thumb {
      clip-path: inset(0 0 0 0);
    }

    .cs_card_badge {
      background-color: $accent;
      transform: translateX(0px);
    }

    .fa-arrow-right-long {
      transform: translateX(-8px);
      opacity: 1;
    }

    .fa-plus {
      transform: translateX(30px);
      opacity: 0;
    }
  }

  .cs_card_info {
    padding: 20px 30px 25px;
    border-radius: 0px 0px 5px 5px;
    background: $white;
    box-shadow: 2px 3px 50px 0px rgba(188, 188, 188, 0.25);
  }

  .cs_card_title {
    line-height: 34px;
  }
}
.cs_card.cs_style_5 {
  padding: 35px 78px 47px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  &::after {
    content: "";
    width: 0;
    height: 4px;
    background-color: $accent;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: all 0.5s ease;
  }
  &:hover::after {
    width: 100%;
  }
  .cs_card_thumb {
    display: inline-block;
    margin-bottom: 30px;
  }
  .cs_card_title {
    line-height: 1.334em;
    margin-bottom: 6px;
  }
  .cs_card_subtitle {
    margin-bottom: 20px;
  }
  .cs_social_btn.cs_style_1 {
    a {
      width: 45px;
      height: 45px;
      border: 1px solid #d9d9d9;
      color: #787878;
      &:hover {
        color: $white;
        border-color: $accent;
        background-color: $accent;
      }
    }
  }
}
