.cs_cta.cs_style_1{
  width: 100%;
  // min-height:322px;
  // display: flex;
  // align-items: center;
  .cs_cta_content{
padding: 110px 0 110px 133px;
.cs_cta_title{
  line-height: 1.286em;
}
  }
  .cs_cta_thumb{
    left: 5%;
    bottom: 0;
  }
}