/*--------------------------------------------------------------
  4. General
----------------------------------------------------------------*/
.cs_fs_16 {
  font-size: 16px;
}

.cs_fs_17 {
  font-size: 17px;
}

.cs_fs_18 {
  font-size: 18px;
}

.cs_fs_20 {
  font-size: 20px;
}

.cs_fs_22 {
  font-size: 22px;
  line-height: 1.45em;
}

.cs_fs_24 {
  font-size: 24px;
}

.cs_fs_26 {
  font-size: 26px;
}

.cs_fs_30 {
  font-size: 30px;
}

.cs_fs_36 {
  font-size: 36px;
}

.cs_fs_40 {
  font-size: 40px;
}

.cs_fs_45 {
  font-size: 45px;
}

.cs_fs_48 {
  font-size: 48px;
}

.cs_fs_55 {
  font-size: 55px;
}

.cs_fs_65 {
  font-size: 65px;
  line-height: 1.15em;
}

.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_extra_bold {
  font-weight: 800;
}

.cs_black {
  font-weight: 900;
}

.cs_radius_2 {
  border-radius: 2px;
}

.cs_radius_3 {
  border-radius: 3px;
}

.cs_radius_4 {
  border-radius: 4px;
}

.cs_radius_5 {
  border-radius: 5px;
}

.cs_radius_7 {
  border-radius: 7px;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_15 {
  border-radius: 15px;
}

.cs_mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid $border;
}

.cs_bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cs_vertical_middle {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.cs_vertical_middle_in {
  flex: none;
  width: 100%;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_white_color {
  color: $white;
}

.cs_primary_color {
  color: $primary;
}

.cs_secondary_color {
  color: $secondary;
}

.cs_ternary_color {
  color: $ternary;
}

.cs_accent_color {
  color: $accent;
}

.cs_gray_color {
  color: $gray;
}

.cs_white_bg {
  background-color: #fff;
}

.cs_accent_bg {
  background-color: $accent;
}

.cs_gray_bg {
  background-color: $gray;
}

.cs_gray_bg_3 {
  background-color: $border;
}

.cs_primary_bg {
  background-color: $primary;
}

.cs_bg_style_1 {
  background-color: #ebedf4;
}

.cs_mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_remove_overflow {
  overflow: visible;
}

/*================================
 common component styling
=================================*/
.cs_section_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.cs_section_heading_in.cs_style_1 {
  .cs_section_subtitle {
    display: block;
    line-height: 1.556em;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

.cs_star_container i {
  font-size: 12px;
  color: #ffc107;
}

.cs_zoom {
  position: relative;
  overflow: hidden;

  .cs_zoom_in {
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    .cs_zoom_in {
      transform: scale(1.07);
    }
  }
}

.cs_form_field {
  width: 100%;
  padding: 23px 20px;
  outline: none;
  transition: all 0.3s ease;
  border-radius: 5px;
}

/* Start Review */
.cs_rating_percentage,
.cs_rating {
  overflow: hidden;

  &::before {
    content: '\f005\f005\f005\f005\f005';
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cs_rating {
  flex: none;
  width: 152px;
  height: 26px;
  position: relative;
  color: #ffc107;
  font-size: 24px;
  letter-spacing: 4px;

  &::before {
    font-weight: 400;
  }
}

.cs_rating_percentage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  &::before {
    font-weight: 900;
  }
}

/* End Review */
/* Bootstrap Component styling*/

.pagination {
  margin: 50px 0 0;

  .page-item {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .page-link {
      width: 41px;
      height: 41px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #C8C8C8;
      border: 1px solid #C8C8C8;
      transition: all .4s ease-in-out;

      &:focus {
        box-shadow: none;
        background-color: $accent;
        border-color: $accent;
        color: $white;
      }

      &:hover,
      &.active {
        background-color: $accent;
        color: $white;
        border-color: $accent;
      }
    }
  }
}