.cs_iconbox.cs_style_1 {
  display: flex;
  gap: 13px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .cs_iconbox_icon {
    width: 32px;
    height: 32px;
    background-color: $accent;
    color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cs_iconbox_title {
    line-height: 29px;
    margin-bottom: 5px;
  }
}

.cs_iconbox.cs_style_2 {
  border: 1px solid $border;
  margin-bottom: 50px;
  padding: 25px 22px;
  background-color: $white;
  position: relative;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    background-color: $white;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .cs_iconbox_icon {
    display: inline-block;
    background-color: $primary;
    padding: 5px 40px;
    position: absolute;
    top: -20px;
    left: 10px;
  }

  .cs_iconbox_shape {
    width: 16px;
    height: 16px;
    border: 2px solid $primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);

    .cs_half_circle {
      width: 50%;
      height: 50%;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}

.cs_iconbox.cs_style_3 {
  .cs_iconbox_icon {
    width: 120px;
    height: 120px;
    background-color: #faf9ff;
    border: 1px solid $accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 27px;

    img {
      transition: all 1s cubic-bezier(0.28, 1.84, 0.55, -0.11);
    }
  }

  .cs_iconbox_title {
    line-height: 1.417em;
    margin-bottom: 18px;
  }

  .cs_iconbox_subtitle {
    line-height: 28px;
  }

  .cs_iconbox_subtitle.d-flex {
    gap: 50px;
  }

  &:hover {
    .cs_iconbox_icon img {
      transform: scale(1.2);
    }
  }
}
.cs_iconbox.cs_style_4 {
  padding: 44px 36px;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  .cs_iconbox_icon {
    position: absolute;
    left: 36px;
    top: 45px;
  }
  .cs_iconbox_text {
    padding-left: 80px;
  }
  .cs_iconbox_title {
    line-height: 1.083em;
    margin-bottom: 10px;
  }
}
.cs_iconbox.cs_style_5 {
  position: relative;
  .cs_iconbox_icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .cs_iconbox_text {
    padding-left: 70px;
  }
  .cs_iconbox_title {
    line-height: 1.556em;
  }
}
