/*------------------------------
Isotop Menu Style1
-------------------------------*/
.cs_isotope_filter.cs_style_1 {

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    margin: 0 5px;

    a {
      padding: 7px 15px;
      display: inline-block;
      font-weight: 600;
    }

    &:hover,
    &.active {
      color: $accent;
    }
  }
}

.cs_isotope_filter.cs_style_2 {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  li {
    margin: 0 5px;

    a {
      padding: 7px 25px 7px 15px;
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
      clip-path: polygon(0 0, 100% 1%, 83% 100%, 0 100%, 0 55%);
      transition: all .4s ease;
    }
&:last-child a {
  padding: 7px 15px 7px 25px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 17% 100%, 0 0);
}
    &:hover,
    &.active {
      a {
        background-color: $accent;
        color: $white;
        
      }
      
    }
  }
}

/*--------------------------------------------------------------
8. Isotopee
----------------------------------------------------------------*/
.cs_isotope {
  transition: all 0.4s ease;
}

.cs_isotope.cs_has_gutter_24 {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: -48px;
  .cs_isotope_item {
    padding: 0 12px;
    margin-bottom: 24px;
  }
}

.cs_isotope.cs_has_gutter_80 {
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: -80px;

  .cs_isotope_item {
    padding: 0 40px;
    margin-bottom: 80px;
  }
}

.cs_isotope.cs_has_gutter_40 {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -30px;

  .cs_isotope_item {
    padding: 0 20px;
    margin-bottom: 30px;
  }
}

.cs_isotope.cs_has_gutter_100 {
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: -40px;

  .cs_isotope_item {
    padding: 0 50px;
    margin-bottom: 40px;
  }
}

.cs_isotope_col_6 .cs_grid_sizer,
.cs_isotope_col_6 .cs_isotope_item {
  width: 16.666667%;
}

.cs_isotope_col_5 .cs_grid_sizer,
.cs_isotope_col_5 .cs_isotope_item {
  width: 20%;
}

.cs_isotope_col_4 .cs_grid_sizer,
.cs_isotope_col_4 .cs_isotope_item {
  width: 25%;
}

.cs_isotope_col_3 .cs_grid_sizer,
.cs_isotope_col_3 .cs_isotope_item {
  width: 33.333333%;
}

.cs_isotope_col_2 .cs_grid_sizer,
.cs_isotope_col_2 .cs_isotope_item {
  width: 50%;
}

.cs_isotope_col_1 .cs_grid_sizer,
.cs_isotope_col_1 .cs_isotope_item {
  width: 100%;
}

.cs_grid_sizer {
  width: 33.333333%;
}

.cs_isotope_col_5 .cs-w20,
.cs_isotope_col_4 .cs-w20,
.cs_isotope_col_3 .cs-w20,
.cs_isotope_col_2 .cs-w20,
.cs_isotope_col_1 .cs-w20 {
  width: 20%;
}

.cs_isotope_col_5 .cs-w25,
.cs_isotope_col_4 .cs-w25,
.cs_isotope_col_3 .cs-w25,
.cs_isotope_col_2 .cs-w25,
.cs_isotope_col_1 .cs-w25 {
  width: 25%;
}

.cs_isotope_col_5 .cs-w33,
.cs_isotope_col_4 .cs-w33,
.cs_isotope_col_3 .cs-w33,
.cs_isotope_col_2 .cs-w33,
.cs_isotope_col_1 .cs-w33 {
  width: 33.333333%;
}

.cs_isotope_col_5 .cs-w50,
.cs_isotope_col_4 .cs-w50,
.cs_isotope_col_3 .cs-w50,
.cs_isotope_col_2 .cs-w50,
.cs_isotope_col_1 .cs-w50 {
  width: 50%;
}

.cs_isotope_col_5 .cs-w66,
.cs_isotope_col_4 .cs-w66,
.cs_isotope_col_3 .cs-w66,
.cs_isotope_col_2 .cs-w66,
.cs_isotope_col_1 .cs-w66 {
  width: 66.666666%;
}

.cs_isotope_col_5 .cs-w100,
.cs_isotope_col_4 .cs-w100,
.cs_isotope_col_3 .cs-w100,
.cs_isotope_col_2 .cs-w100,
.cs_isotope_col_1 .cs-w100 {
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .cs_isotope.cs_has_gutter_100 .cs_isotope_item {
    padding: 0 15px;
    margin-bottom: 30px;
  }

  .cs_isotope.cs_has_gutter_100 {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
  }

  .cs_isotope.cs_has_gutter_80 {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -25px;

    .cs_isotope_item {
      padding: 0 12px;
      margin-bottom: 25px;
    }
  }

  .cs_isotope_col_4 .cs_grid_sizer,
  .cs_isotope_col_4 .cs_isotope_item {
    width: 33.333333%;
  }
}

@media screen and (max-width: 991px) {

  .cs_isotope_col_4 .cs_grid_sizer,
  .cs_isotope_col_4 .cs_isotope_item {
    width: 50%;
  }

  .cs_isotope_col_4 .cs-w50 {
    width: 100%;
  }

  .cs_isotope_col_3 .cs_grid_sizer,
  .cs_isotope_col_3 .cs_isotope_item {
    width: 50%;
  }

  .cs_isotope_col_2 .cs_grid_sizer,
  .cs_isotope_col_2 .cs_isotope_item {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {

  .cs_isotope_col_5 .cs-w50,
  .cs_isotope_col_4 .cs-w50,
  .cs_isotope_col_3 .cs-w50,
  .cs_isotope_col_2 .cs-w50,
  .cs_isotope_col_1 .cs-w50,
  .cs_isotope_col_5 .cs-w66,
  .cs_isotope_col_4 .cs-w66,
  .cs_isotope_col_3 .cs-w66,
  .cs_isotope_col_2 .cs-w66,
  .cs_isotope_col_1 .cs-w66 {
    width: 100%;
  }

  .cs_isotope_col_5 .cs_grid_sizer,
  .cs_isotope_col_5 .cs_isotope_item {
    width: 100%;
  }

  .cs_isotope_col_4 .cs_grid_sizer,
  .cs_isotope_col_4 .cs_isotope_item {
    width: 100%;
  }

  .cs_isotope_col_3 .cs_grid_sizer,
  .cs_isotope_col_3 .cs_isotope_item {
    width: 100%;
  }

  .cs_isotope_col_2 .cs_grid_sizer,
  .cs_isotope_col_2 .cs_isotope_item {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .cs_isotope_filter.cs_style_1 ul {
    border: none;
  }

  .cs_isotope_filter.cs_style_1 {
    li {
      margin-bottom: 8px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    a {
      padding-bottom: 3px;
    }
  }
}