/*Isotop Menu Style1*/
.cs_isotope_filter.cs_style1 {
  margin-bottom: 30px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    margin: 0 5px;

    a {
      padding: 7px 15px;
      padding-top: 0;
      border: 1px solid transparent;
      border-radius: 7px;
      font-size: 15px;
      display: inline-block;
      font-weight: 600;
      position: relative;

      &:hover {
        color: $accent;
      }
    }

    &.active {
      a {
        color: $accent;

        &:before {
          width: 100%;
        }
      }
    }
  }
}