.cs_sidebar.cs_style_1 {
  border: 1px solid #dddddd;
  padding: 0 20px 20px;

  .cs_widget_title {
    padding: 24px 0 16px;
    line-height: 1.3em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    cursor: pointer;

    &.active {
      border-bottom: 1px solid #dddddd;
      .cs_widget_toggle i {
        transform: rotateX(180deg);
      }
    }
  }

  .cs_category_toggle {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0;

    span {
      display: inline-block;
      width: 13px;
      height: 1.9px;
      background-color: $secondary;
      position: relative;

      &::after {
        content: "";
        width: 2px;
        height: 14px;
        background-color: $secondary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease-in-out;
      }
    }

    &.active {
      span::after {
        height: 0;
      }
    }
  }

  .cs_widget_toggle {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $accent;
    border-radius: 50%;
    color: $accent;
    font-size: 12px;
  }

  .cs_widget_toggle i {
    transition: all 0.4s ease-in-out;
  }

  .cs_widget_body {
    line-height: 1.625em;
    padding-right: 6px;
    display: none;
    ul li {
      padding: 10px 0 0;
      position: relative;
      cursor: pointer;
    }
  }

  .cs_list.cs_style_2 label {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      width: 20px;
      height: 20px;
    }

    .fa-star {
      margin-right: 10px;
      color: #ffc107;
    }
  }

  .cs_hidden_text {
    color: $primary;
    display: none;
  }

  .cs_list.cs_style_2 {
    margin-top: 10px;

    a {
      display: block;
      padding: 5px;
      background: $gray;
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

.cs_sidebar.cs_style_2 {
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);

  .cs_sidebar_widget.cs_style_2 {
    padding: 30px 24px 50px;
  }

  .cs_list li {
    padding: 10px 0;
    border-bottom: 1px solid $border;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: 0;
    }

    img {
      margin-right: 14px;
      margin-bottom: 3px;
    }
  }

  .cs_btn_group {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10%;
  }

  .cs_card_btn.cs_style_1 {
    border: 1px solid $accent;
  }

  .cs_card_btn.cs_style_1,
  .cs_card_btn.cs_style_2 {
    padding: 15px 0;
  }

  .cs_sidebar_socials {
    display: flex;
    align-items: center;
    gap: 30px;
    .cs_social_btn.cs_style_1 {
      gap: 20px;
      a {
        background-color: transparent;
        color: $accent;
        transition: all 1s cubic-bezier(0.28, 1.84, 0.55, -0.11);
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.cs_sidebar.cs_style_3 {
  .cs_sidebar_widget {
    background-color: $gray;
    padding: 30px 30px 45px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &.cs_search {
      padding: 22px 30px;
      margin-bottom: 25px;
      background: #f5f5f5;
    }
  }

  .cs_sidebar_title {
    position: relative;
    margin-bottom: 40px;

    &::after {
      content: "";
      width: 17%;
      height: 2px;
      background-color: $accent;
      position: absolute;
      left: 0;
      bottom: -8px;
    }
  }

  .cs_search_box {
    height: 55px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    input {
      width: 80%;
      height: 100%;
      border: none;
      outline: none;
      padding-left: 20px;

      &::placeholder {
        color: $primary;
        font-weight: 500;
      }
    }

    .cs_search_icon {
      width: 20%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      i {
        transition: all 1s cubic-bezier(0.28, 1.84, 0.55, -0.11);
      }

      &:hover {
        i {
          transform: scale(1.2);
        }
      }
    }
  }

  .cs_tag_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 15px;
  }

  .cs_tag_link {
    min-width: 92px;
    padding: 10px 20px;
    background-color: $white;
    text-align: center;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $white;
      background-color: $accent;
    }
  }
}
