.cs_slider.cs_style_1 {
  .cs_slider_wrapper {
    margin-left: -12px;
    margin-right: -12px;
  }

  .slick_slide_in {
    padding-left: 12px;
    padding-right: 12px;
  }

  .slick-list {
    padding-top: 50px;
  }
}
.cs_slider.cs_style_3 {
  .cs_slider_wrapper {
    margin-left: -12px;
    margin-right: -12px;
  }

  .slick_slide_in {
    padding-left: 12px;
    padding-right: 12px;
  }
  .slick-dots{
    margin-bottom: 0;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    li{
font-size: 0;
line-height: 0;
    }
  }
}


/*----------------------
Slider arrow design
------------------------*/
.cs_slider_arrows.cs_style_1 {
  display: flex;
  align-items: center;
  gap: 15px;

  .cs_slider_arrow {
    width: 50px;
    height: 50px;
    border: 1px solid $accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $accent;
    font-size: 20px;
    font-weight: 900;
    transition: all .4s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}

.cs_slider.cs_style_2 {
  .cs_slider_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white;
    border: none;
    width: 80px;
    height: 80px;

    i {
      font-size: 28px;
    }

    &::before {
      content: "";
      width: 120%;
      height: 120%;
      border: 2px solid $accent;
      border-radius: 50%;
      position: absolute;
    }
  }

  .cs_left_arrow {
    left: 60px;
  }

  .cs_right_arrow {
    right: 60px;
  }
}