/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Typography
2. Preloader
3. Spacing
4. General
5. Slider
6. Video Popup
7. Header
8. Footer
9. Hero
10. Iconbox
11. Card
12. Posts
13. CTA
14. Testimonial
15. Portfolio
16. Dark Mode
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1. Typography
----------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
body,
html {
  color: #747474;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  overflow-x: hidden !important;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #002935;
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 0 0 25px 0;
  padding-left: 20px;
  list-style: square outside none;
}

ol {
  padding-left: 20px;
  margin-bottom: 25px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6em;
  margin: 0;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: #573cff;
}

table {
  width: 100%;
  margin-bottom: 25px;
}
table th {
  font-weight: 600;
  color: #747474;
}
table td,
table th {
  border-top: 1px solid #dedede;
  padding: 11px 10px;
}

dl {
  margin-bottom: 25px;
}
dl dt {
  font-weight: 600;
}

b,
strong {
  font-weight: bold;
}

pre {
  color: #747474;
  border: 1px solid #dedede;
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
}

kbd {
  font-size: 100%;
  background-color: #747474;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  body,
  html {
    font-size: 16px;
    line-height: 1.6em;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
}
input,
textarea {
  color: #002935;
}

/*--------------------------------------------------------------
  3. Spacing
----------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .cs_height_1 {
    height: 1px !important;
  }
  .cs_height_2 {
    height: 2px !important;
  }
  .cs_height_3 {
    height: 3px !important;
  }
  .cs_height_4 {
    height: 4px !important;
  }
  .cs_height_5 {
    height: 5px !important;
  }
  .cs_height_6 {
    height: 6px !important;
  }
  .cs_height_7 {
    height: 7px !important;
  }
  .cs_height_8 {
    height: 8px !important;
  }
  .cs_height_9 {
    height: 9px !important;
  }
  .cs_height_10 {
    height: 10px !important;
  }
  .cs_height_11 {
    height: 11px !important;
  }
  .cs_height_12 {
    height: 12px !important;
  }
  .cs_height_13 {
    height: 13px !important;
  }
  .cs_height_14 {
    height: 14px !important;
  }
  .cs_height_15 {
    height: 15px !important;
  }
  .cs_height_16 {
    height: 16px !important;
  }
  .cs_height_17 {
    height: 17px !important;
  }
  .cs_height_18 {
    height: 18px !important;
  }
  .cs_height_19 {
    height: 19px !important;
  }
  .cs_height_20 {
    height: 20px !important;
  }
  .cs_height_21 {
    height: 21px !important;
  }
  .cs_height_22 {
    height: 22px !important;
  }
  .cs_height_23 {
    height: 23px !important;
  }
  .cs_height_24 {
    height: 24px !important;
  }
  .cs_height_25 {
    height: 25px !important;
  }
  .cs_height_26 {
    height: 26px !important;
  }
  .cs_height_27 {
    height: 27px !important;
  }
  .cs_height_28 {
    height: 28px !important;
  }
  .cs_height_29 {
    height: 29px !important;
  }
  .cs_height_30 {
    height: 30px !important;
  }
  .cs_height_31 {
    height: 31px !important;
  }
  .cs_height_32 {
    height: 32px !important;
  }
  .cs_height_33 {
    height: 33px !important;
  }
  .cs_height_34 {
    height: 34px !important;
  }
  .cs_height_35 {
    height: 35px !important;
  }
  .cs_height_36 {
    height: 36px !important;
  }
  .cs_height_37 {
    height: 37px !important;
  }
  .cs_height_38 {
    height: 38px !important;
  }
  .cs_height_39 {
    height: 39px !important;
  }
  .cs_height_40 {
    height: 40px !important;
  }
  .cs_height_41 {
    height: 41px !important;
  }
  .cs_height_42 {
    height: 42px !important;
  }
  .cs_height_43 {
    height: 43px !important;
  }
  .cs_height_44 {
    height: 44px !important;
  }
  .cs_height_45 {
    height: 45px !important;
  }
  .cs_height_46 {
    height: 46px !important;
  }
  .cs_height_47 {
    height: 47px !important;
  }
  .cs_height_48 {
    height: 48px !important;
  }
  .cs_height_49 {
    height: 49px !important;
  }
  .cs_height_50 {
    height: 50px !important;
  }
  .cs_height_51 {
    height: 51px !important;
  }
  .cs_height_52 {
    height: 52px !important;
  }
  .cs_height_53 {
    height: 53px !important;
  }
  .cs_height_54 {
    height: 54px !important;
  }
  .cs_height_55 {
    height: 55px !important;
  }
  .cs_height_56 {
    height: 56px !important;
  }
  .cs_height_57 {
    height: 57px !important;
  }
  .cs_height_58 {
    height: 58px !important;
  }
  .cs_height_59 {
    height: 59px !important;
  }
  .cs_height_60 {
    height: 60px !important;
  }
  .cs_height_61 {
    height: 61px !important;
  }
  .cs_height_62 {
    height: 62px !important;
  }
  .cs_height_63 {
    height: 63px !important;
  }
  .cs_height_64 {
    height: 64px !important;
  }
  .cs_height_65 {
    height: 65px !important;
  }
  .cs_height_66 {
    height: 66px !important;
  }
  .cs_height_67 {
    height: 67px !important;
  }
  .cs_height_68 {
    height: 68px !important;
  }
  .cs_height_69 {
    height: 69px !important;
  }
  .cs_height_70 {
    height: 70px !important;
  }
  .cs_height_71 {
    height: 71px !important;
  }
  .cs_height_72 {
    height: 72px !important;
  }
  .cs_height_73 {
    height: 73px !important;
  }
  .cs_height_74 {
    height: 74px !important;
  }
  .cs_height_75 {
    height: 75px !important;
  }
  .cs_height_76 {
    height: 76px !important;
  }
  .cs_height_77 {
    height: 77px !important;
  }
  .cs_height_78 {
    height: 78px !important;
  }
  .cs_height_79 {
    height: 79px !important;
  }
  .cs_height_80 {
    height: 80px !important;
  }
  .cs_height_81 {
    height: 81px !important;
  }
  .cs_height_82 {
    height: 82px !important;
  }
  .cs_height_83 {
    height: 83px !important;
  }
  .cs_height_84 {
    height: 84px !important;
  }
  .cs_height_85 {
    height: 85px !important;
  }
  .cs_height_86 {
    height: 86px !important;
  }
  .cs_height_87 {
    height: 87px !important;
  }
  .cs_height_88 {
    height: 88px !important;
  }
  .cs_height_89 {
    height: 89px !important;
  }
  .cs_height_90 {
    height: 90px !important;
  }
  .cs_height_91 {
    height: 91px !important;
  }
  .cs_height_92 {
    height: 92px !important;
  }
  .cs_height_93 {
    height: 93px !important;
  }
  .cs_height_94 {
    height: 94px !important;
  }
  .cs_height_95 {
    height: 95px !important;
  }
  .cs_height_96 {
    height: 96px !important;
  }
  .cs_height_97 {
    height: 97px !important;
  }
  .cs_height_98 {
    height: 98px !important;
  }
  .cs_height_99 {
    height: 99px !important;
  }
  .cs_height_100 {
    height: 100px !important;
  }
  .cs_height_101 {
    height: 101px !important;
  }
  .cs_height_102 {
    height: 102px !important;
  }
  .cs_height_103 {
    height: 103px !important;
  }
  .cs_height_104 {
    height: 104px !important;
  }
  .cs_height_105 {
    height: 105px !important;
  }
  .cs_height_106 {
    height: 106px !important;
  }
  .cs_height_107 {
    height: 107px !important;
  }
  .cs_height_108 {
    height: 108px !important;
  }
  .cs_height_109 {
    height: 109px !important;
  }
  .cs_height_110 {
    height: 110px !important;
  }
  .cs_height_111 {
    height: 111px !important;
  }
  .cs_height_112 {
    height: 112px !important;
  }
  .cs_height_113 {
    height: 113px !important;
  }
  .cs_height_114 {
    height: 114px !important;
  }
  .cs_height_115 {
    height: 115px !important;
  }
  .cs_height_116 {
    height: 116px !important;
  }
  .cs_height_117 {
    height: 117px !important;
  }
  .cs_height_118 {
    height: 118px !important;
  }
  .cs_height_119 {
    height: 119px !important;
  }
  .cs_height_120 {
    height: 120px !important;
  }
  .cs_height_121 {
    height: 121px !important;
  }
  .cs_height_122 {
    height: 122px !important;
  }
  .cs_height_123 {
    height: 123px !important;
  }
  .cs_height_124 {
    height: 124px !important;
  }
  .cs_height_125 {
    height: 125px !important;
  }
  .cs_height_126 {
    height: 126px !important;
  }
  .cs_height_127 {
    height: 127px !important;
  }
  .cs_height_128 {
    height: 128px !important;
  }
  .cs_height_129 {
    height: 129px !important;
  }
  .cs_height_130 {
    height: 130px !important;
  }
  .cs_height_131 {
    height: 131px !important;
  }
  .cs_height_132 {
    height: 132px !important;
  }
  .cs_height_133 {
    height: 133px !important;
  }
  .cs_height_134 {
    height: 134px !important;
  }
  .cs_height_135 {
    height: 135px !important;
  }
  .cs_height_136 {
    height: 136px !important;
  }
  .cs_height_137 {
    height: 137px !important;
  }
  .cs_height_138 {
    height: 138px !important;
  }
  .cs_height_139 {
    height: 139px !important;
  }
  .cs_height_140 {
    height: 140px !important;
  }
  .cs_height_141 {
    height: 141px !important;
  }
  .cs_height_142 {
    height: 142px !important;
  }
  .cs_height_143 {
    height: 143px !important;
  }
  .cs_height_144 {
    height: 144px !important;
  }
  .cs_height_145 {
    height: 145px !important;
  }
  .cs_height_146 {
    height: 146px !important;
  }
  .cs_height_147 {
    height: 147px !important;
  }
  .cs_height_148 {
    height: 148px !important;
  }
  .cs_height_149 {
    height: 149px !important;
  }
  .cs_height_150 {
    height: 150px !important;
  }
  .cs_height_151 {
    height: 151px !important;
  }
  .cs_height_152 {
    height: 152px !important;
  }
  .cs_height_153 {
    height: 153px !important;
  }
  .cs_height_154 {
    height: 154px !important;
  }
  .cs_height_155 {
    height: 155px !important;
  }
  .cs_height_156 {
    height: 156px !important;
  }
  .cs_height_157 {
    height: 157px !important;
  }
  .cs_height_158 {
    height: 158px !important;
  }
  .cs_height_159 {
    height: 159px !important;
  }
  .cs_height_160 {
    height: 160px !important;
  }
  .cs_height_161 {
    height: 161px !important;
  }
  .cs_height_162 {
    height: 162px !important;
  }
  .cs_height_163 {
    height: 163px !important;
  }
  .cs_height_164 {
    height: 164px !important;
  }
  .cs_height_165 {
    height: 165px !important;
  }
  .cs_height_166 {
    height: 166px !important;
  }
  .cs_height_167 {
    height: 167px !important;
  }
  .cs_height_168 {
    height: 168px !important;
  }
  .cs_height_169 {
    height: 169px !important;
  }
  .cs_height_170 {
    height: 170px !important;
  }
  .cs_height_171 {
    height: 171px !important;
  }
  .cs_height_172 {
    height: 172px !important;
  }
  .cs_height_173 {
    height: 173px !important;
  }
  .cs_height_174 {
    height: 174px !important;
  }
  .cs_height_175 {
    height: 175px !important;
  }
  .cs_height_176 {
    height: 176px !important;
  }
  .cs_height_177 {
    height: 177px !important;
  }
  .cs_height_178 {
    height: 178px !important;
  }
  .cs_height_179 {
    height: 179px !important;
  }
  .cs_height_180 {
    height: 180px !important;
  }
  .cs_height_181 {
    height: 181px !important;
  }
  .cs_height_182 {
    height: 182px !important;
  }
  .cs_height_183 {
    height: 183px !important;
  }
  .cs_height_184 {
    height: 184px !important;
  }
  .cs_height_185 {
    height: 185px !important;
  }
  .cs_height_186 {
    height: 186px !important;
  }
  .cs_height_187 {
    height: 187px !important;
  }
  .cs_height_188 {
    height: 188px !important;
  }
  .cs_height_189 {
    height: 189px !important;
  }
  .cs_height_190 {
    height: 190px !important;
  }
  .cs_height_191 {
    height: 191px !important;
  }
  .cs_height_192 {
    height: 192px !important;
  }
  .cs_height_193 {
    height: 193px !important;
  }
  .cs_height_194 {
    height: 194px !important;
  }
  .cs_height_195 {
    height: 195px !important;
  }
  .cs_height_196 {
    height: 196px !important;
  }
  .cs_height_197 {
    height: 197px !important;
  }
  .cs_height_198 {
    height: 198px !important;
  }
  .cs_height_199 {
    height: 199px !important;
  }
  .cs_height_200 {
    height: 200px !important;
  }
}
@media screen and (max-width: 991px) {
  .cs_height_lg_1 {
    height: 1px !important;
  }
  .cs_height_lg_2 {
    height: 2px !important;
  }
  .cs_height_lg_3 {
    height: 3px !important;
  }
  .cs_height_lg_4 {
    height: 4px !important;
  }
  .cs_height_lg_5 {
    height: 5px !important;
  }
  .cs_height_lg_6 {
    height: 6px !important;
  }
  .cs_height_lg_7 {
    height: 7px !important;
  }
  .cs_height_lg_8 {
    height: 8px !important;
  }
  .cs_height_lg_9 {
    height: 9px !important;
  }
  .cs_height_lg_10 {
    height: 10px !important;
  }
  .cs_height_lg_11 {
    height: 11px !important;
  }
  .cs_height_lg_12 {
    height: 12px !important;
  }
  .cs_height_lg_13 {
    height: 13px !important;
  }
  .cs_height_lg_14 {
    height: 14px !important;
  }
  .cs_height_lg_15 {
    height: 15px !important;
  }
  .cs_height_lg_16 {
    height: 16px !important;
  }
  .cs_height_lg_17 {
    height: 17px !important;
  }
  .cs_height_lg_18 {
    height: 18px !important;
  }
  .cs_height_lg_19 {
    height: 19px !important;
  }
  .cs_height_lg_20 {
    height: 20px !important;
  }
  .cs_height_lg_21 {
    height: 21px !important;
  }
  .cs_height_lg_22 {
    height: 22px !important;
  }
  .cs_height_lg_23 {
    height: 23px !important;
  }
  .cs_height_lg_24 {
    height: 24px !important;
  }
  .cs_height_lg_25 {
    height: 25px !important;
  }
  .cs_height_lg_26 {
    height: 26px !important;
  }
  .cs_height_lg_27 {
    height: 27px !important;
  }
  .cs_height_lg_28 {
    height: 28px !important;
  }
  .cs_height_lg_29 {
    height: 29px !important;
  }
  .cs_height_lg_30 {
    height: 30px !important;
  }
  .cs_height_lg_31 {
    height: 31px !important;
  }
  .cs_height_lg_32 {
    height: 32px !important;
  }
  .cs_height_lg_33 {
    height: 33px !important;
  }
  .cs_height_lg_34 {
    height: 34px !important;
  }
  .cs_height_lg_35 {
    height: 35px !important;
  }
  .cs_height_lg_36 {
    height: 36px !important;
  }
  .cs_height_lg_37 {
    height: 37px !important;
  }
  .cs_height_lg_38 {
    height: 38px !important;
  }
  .cs_height_lg_39 {
    height: 39px !important;
  }
  .cs_height_lg_40 {
    height: 40px !important;
  }
  .cs_height_lg_41 {
    height: 41px !important;
  }
  .cs_height_lg_42 {
    height: 42px !important;
  }
  .cs_height_lg_43 {
    height: 43px !important;
  }
  .cs_height_lg_44 {
    height: 44px !important;
  }
  .cs_height_lg_45 {
    height: 45px !important;
  }
  .cs_height_lg_46 {
    height: 46px !important;
  }
  .cs_height_lg_47 {
    height: 47px !important;
  }
  .cs_height_lg_48 {
    height: 48px !important;
  }
  .cs_height_lg_49 {
    height: 49px !important;
  }
  .cs_height_lg_50 {
    height: 50px !important;
  }
  .cs_height_lg_51 {
    height: 51px !important;
  }
  .cs_height_lg_52 {
    height: 52px !important;
  }
  .cs_height_lg_53 {
    height: 53px !important;
  }
  .cs_height_lg_54 {
    height: 54px !important;
  }
  .cs_height_lg_55 {
    height: 55px !important;
  }
  .cs_height_lg_56 {
    height: 56px !important;
  }
  .cs_height_lg_57 {
    height: 57px !important;
  }
  .cs_height_lg_58 {
    height: 58px !important;
  }
  .cs_height_lg_59 {
    height: 59px !important;
  }
  .cs_height_lg_60 {
    height: 60px !important;
  }
  .cs_height_lg_61 {
    height: 61px !important;
  }
  .cs_height_lg_62 {
    height: 62px !important;
  }
  .cs_height_lg_63 {
    height: 63px !important;
  }
  .cs_height_lg_64 {
    height: 64px !important;
  }
  .cs_height_lg_65 {
    height: 65px !important;
  }
  .cs_height_lg_66 {
    height: 66px !important;
  }
  .cs_height_lg_67 {
    height: 67px !important;
  }
  .cs_height_lg_68 {
    height: 68px !important;
  }
  .cs_height_lg_69 {
    height: 69px !important;
  }
  .cs_height_lg_70 {
    height: 70px !important;
  }
  .cs_height_lg_71 {
    height: 71px !important;
  }
  .cs_height_lg_72 {
    height: 72px !important;
  }
  .cs_height_lg_73 {
    height: 73px !important;
  }
  .cs_height_lg_74 {
    height: 74px !important;
  }
  .cs_height_lg_75 {
    height: 75px !important;
  }
  .cs_height_lg_76 {
    height: 76px !important;
  }
  .cs_height_lg_77 {
    height: 77px !important;
  }
  .cs_height_lg_78 {
    height: 78px !important;
  }
  .cs_height_lg_79 {
    height: 79px !important;
  }
  .cs_height_lg_80 {
    height: 80px !important;
  }
  .cs_height_lg_81 {
    height: 81px !important;
  }
  .cs_height_lg_82 {
    height: 82px !important;
  }
  .cs_height_lg_83 {
    height: 83px !important;
  }
  .cs_height_lg_84 {
    height: 84px !important;
  }
  .cs_height_lg_85 {
    height: 85px !important;
  }
  .cs_height_lg_86 {
    height: 86px !important;
  }
  .cs_height_lg_87 {
    height: 87px !important;
  }
  .cs_height_lg_88 {
    height: 88px !important;
  }
  .cs_height_lg_89 {
    height: 89px !important;
  }
  .cs_height_lg_90 {
    height: 90px !important;
  }
  .cs_height_lg_91 {
    height: 91px !important;
  }
  .cs_height_lg_92 {
    height: 92px !important;
  }
  .cs_height_lg_93 {
    height: 93px !important;
  }
  .cs_height_lg_94 {
    height: 94px !important;
  }
  .cs_height_lg_95 {
    height: 95px !important;
  }
  .cs_height_lg_96 {
    height: 96px !important;
  }
  .cs_height_lg_97 {
    height: 97px !important;
  }
  .cs_height_lg_98 {
    height: 98px !important;
  }
  .cs_height_lg_99 {
    height: 99px !important;
  }
  .cs_height_lg_100 {
    height: 100px !important;
  }
  .cs_height_lg_101 {
    height: 101px !important;
  }
  .cs_height_lg_102 {
    height: 102px !important;
  }
  .cs_height_lg_103 {
    height: 103px !important;
  }
  .cs_height_lg_104 {
    height: 104px !important;
  }
  .cs_height_lg_105 {
    height: 105px !important;
  }
  .cs_height_lg_106 {
    height: 106px !important;
  }
  .cs_height_lg_107 {
    height: 107px !important;
  }
  .cs_height_lg_108 {
    height: 108px !important;
  }
  .cs_height_lg_109 {
    height: 109px !important;
  }
  .cs_height_lg_110 {
    height: 110px !important;
  }
  .cs_height_lg_111 {
    height: 111px !important;
  }
  .cs_height_lg_112 {
    height: 112px !important;
  }
  .cs_height_lg_113 {
    height: 113px !important;
  }
  .cs_height_lg_114 {
    height: 114px !important;
  }
  .cs_height_lg_115 {
    height: 115px !important;
  }
  .cs_height_lg_116 {
    height: 116px !important;
  }
  .cs_height_lg_117 {
    height: 117px !important;
  }
  .cs_height_lg_118 {
    height: 118px !important;
  }
  .cs_height_lg_119 {
    height: 119px !important;
  }
  .cs_height_lg_120 {
    height: 120px !important;
  }
  .cs_height_lg_121 {
    height: 121px !important;
  }
  .cs_height_lg_122 {
    height: 122px !important;
  }
  .cs_height_lg_123 {
    height: 123px !important;
  }
  .cs_height_lg_124 {
    height: 124px !important;
  }
  .cs_height_lg_125 {
    height: 125px !important;
  }
  .cs_height_lg_126 {
    height: 126px !important;
  }
  .cs_height_lg_127 {
    height: 127px !important;
  }
  .cs_height_lg_128 {
    height: 128px !important;
  }
  .cs_height_lg_129 {
    height: 129px !important;
  }
  .cs_height_lg_130 {
    height: 130px !important;
  }
  .cs_height_lg_131 {
    height: 131px !important;
  }
  .cs_height_lg_132 {
    height: 132px !important;
  }
  .cs_height_lg_133 {
    height: 133px !important;
  }
  .cs_height_lg_134 {
    height: 134px !important;
  }
  .cs_height_lg_135 {
    height: 135px !important;
  }
  .cs_height_lg_136 {
    height: 136px !important;
  }
  .cs_height_lg_137 {
    height: 137px !important;
  }
  .cs_height_lg_138 {
    height: 138px !important;
  }
  .cs_height_lg_139 {
    height: 139px !important;
  }
  .cs_height_lg_140 {
    height: 140px !important;
  }
  .cs_height_lg_141 {
    height: 141px !important;
  }
  .cs_height_lg_142 {
    height: 142px !important;
  }
  .cs_height_lg_143 {
    height: 143px !important;
  }
  .cs_height_lg_144 {
    height: 144px !important;
  }
  .cs_height_lg_145 {
    height: 145px !important;
  }
  .cs_height_lg_146 {
    height: 146px !important;
  }
  .cs_height_lg_147 {
    height: 147px !important;
  }
  .cs_height_lg_148 {
    height: 148px !important;
  }
  .cs_height_lg_149 {
    height: 149px !important;
  }
  .cs_height_lg_150 {
    height: 150px !important;
  }
  .cs_height_lg_151 {
    height: 151px !important;
  }
  .cs_height_lg_152 {
    height: 152px !important;
  }
  .cs_height_lg_153 {
    height: 153px !important;
  }
  .cs_height_lg_154 {
    height: 154px !important;
  }
  .cs_height_lg_155 {
    height: 155px !important;
  }
  .cs_height_lg_156 {
    height: 156px !important;
  }
  .cs_height_lg_157 {
    height: 157px !important;
  }
  .cs_height_lg_158 {
    height: 158px !important;
  }
  .cs_height_lg_159 {
    height: 159px !important;
  }
  .cs_height_lg_160 {
    height: 160px !important;
  }
  .cs_height_lg_161 {
    height: 161px !important;
  }
  .cs_height_lg_162 {
    height: 162px !important;
  }
  .cs_height_lg_163 {
    height: 163px !important;
  }
  .cs_height_lg_164 {
    height: 164px !important;
  }
  .cs_height_lg_165 {
    height: 165px !important;
  }
  .cs_height_lg_166 {
    height: 166px !important;
  }
  .cs_height_lg_167 {
    height: 167px !important;
  }
  .cs_height_lg_168 {
    height: 168px !important;
  }
  .cs_height_lg_169 {
    height: 169px !important;
  }
  .cs_height_lg_170 {
    height: 170px !important;
  }
  .cs_height_lg_171 {
    height: 171px !important;
  }
  .cs_height_lg_172 {
    height: 172px !important;
  }
  .cs_height_lg_173 {
    height: 173px !important;
  }
  .cs_height_lg_174 {
    height: 174px !important;
  }
  .cs_height_lg_175 {
    height: 175px !important;
  }
  .cs_height_lg_176 {
    height: 176px !important;
  }
  .cs_height_lg_177 {
    height: 177px !important;
  }
  .cs_height_lg_178 {
    height: 178px !important;
  }
  .cs_height_lg_179 {
    height: 179px !important;
  }
  .cs_height_lg_180 {
    height: 180px !important;
  }
  .cs_height_lg_181 {
    height: 181px !important;
  }
  .cs_height_lg_182 {
    height: 182px !important;
  }
  .cs_height_lg_183 {
    height: 183px !important;
  }
  .cs_height_lg_184 {
    height: 184px !important;
  }
  .cs_height_lg_185 {
    height: 185px !important;
  }
  .cs_height_lg_186 {
    height: 186px !important;
  }
  .cs_height_lg_187 {
    height: 187px !important;
  }
  .cs_height_lg_188 {
    height: 188px !important;
  }
  .cs_height_lg_189 {
    height: 189px !important;
  }
  .cs_height_lg_190 {
    height: 190px !important;
  }
  .cs_height_lg_191 {
    height: 191px !important;
  }
  .cs_height_lg_192 {
    height: 192px !important;
  }
  .cs_height_lg_193 {
    height: 193px !important;
  }
  .cs_height_lg_194 {
    height: 194px !important;
  }
  .cs_height_lg_195 {
    height: 195px !important;
  }
  .cs_height_lg_196 {
    height: 196px !important;
  }
  .cs_height_lg_197 {
    height: 197px !important;
  }
  .cs_height_lg_198 {
    height: 198px !important;
  }
  .cs_height_lg_199 {
    height: 199px !important;
  }
  .cs_height_lg_200 {
    height: 200px !important;
  }
}
/*--------------------------------------------------------------
  4. General
----------------------------------------------------------------*/
.cs_fs_16 {
  font-size: 16px;
}

.cs_fs_17 {
  font-size: 17px;
}

.cs_fs_18 {
  font-size: 18px;
}

.cs_fs_20 {
  font-size: 20px;
}

.cs_fs_22 {
  font-size: 22px;
}

.cs_fs_24 {
  font-size: 24px;
}

.cs_fs_26 {
  font-size: 26px;
}

.cs_fs_30 {
  font-size: 30px;
}

.cs_fs_36 {
  font-size: 36px;
}

.cs_fs_40 {
  font-size: 40px;
}

.cs_fs_45 {
  font-size: 45px;
}

.cs_fs_48 {
  font-size: 48px;
}

.cs_fs_55 {
  font-size: 55px;
}

.cs_fs_65 {
  font-size: 65px;
  line-height: 1.15em;
}

.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_extra_bold {
  font-weight: 800;
}

.cs_black {
  font-weight: 900;
}

.cs_radius_3 {
  border-radius: 3px;
}

.cs_radius_5 {
  border-radius: 5px;
}

.cs_radius_7 {
  border-radius: 7px;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_15 {
  border-radius: 15px;
}

.cs_mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #dedede;
}

.cs_bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cs_vertical_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.cs_vertical_middle_in {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
}

.cs_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cs_white_color {
  color: #fff;
}

.cs_primary_color {
  color: #002935;
}

.cs_secondary_color {
  color: #747474;
}

.cs_ternary_color {
  color: #c6c6c6;
}

.cs_accent_color {
  color: #573cff;
}

.cs_gray_color {
  color: #f8f9fa;
}

.cs_white_bg {
  background-color: #fff;
}

.cs_accent_bg {
  background-color: #573cff;
}

.cs_gray_bg {
  background-color: #f8f9fa;
}

.cs_gray_bg_3 {
  background-color: #dedede;
}

.cs_primary_bg {
  background-color: #002935;
}

.cs_btn_style_1 {
  padding: 16px 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.5em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cs_btn_style_1 img {
  margin-left: 7px;
}
.cs_btn_style_1:hover {
  background-color: #fff;
}

/*--------------------------------------------------------------
  9. Hero
----------------------------------------------------------------*/
.cs_hero_inner {
  width: 100%;
  min-height: 960px;
  position: relative;
}

.cs_hero_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 41, 53, 0.45);
  position: absolute;
  top: 0;
  left: 0;
}

.cs_hero_text {
  position: relative;
  z-index: 1;
}
.cs_hero_text .cs_hero_mini_title {
  line-height: 1.459em;
  margin-bottom: 30px;
}
.cs_hero_text .cs_hero_title {
  line-height: 1.154em;
  margin-bottom: 25px;
}
.cs_hero_text .cs_hero_subtitle {
  line-height: 1.556em;
  margin-bottom: 42px;
}
.cs_hero_text .cs_button_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.cs_hero_text .cs_hero_btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.cs_hero_text .cs_star_container {
  color: #FFC107;
}
.cs_hero_text .cs_rating_text {
  line-height: 1.459em;
}