.cs_about.cs_style_2 {
  .cs_section_title {
    line-height: 1.222em;
  }
  .cs_section_subtitle {
    margin-bottom: 22px;
  }
  .cs_iconbox.cs_style_4 {
    padding: 17px 40px;
    position: relative;
    margin-bottom: 30px;
    .cs_iconbox_icon {
      position: absolute;
      left: 40px;
      top: 20px;
    }
    .cs_iconbox_text {
      padding-left: 65px;
    }
    .cs_iconbox_title {
      line-height: 28px;
    }
  }
  q {
    line-height: 1.5em;
  }
}

.cs_about.cs_style_3 {
  .cs_section_title {
    line-height: 1.146em;
  }
  .cs_mission_title {
    line-height: 1.4em;
    margin-bottom: 5px;
  }
  .cs_about_subtitle {
    margin-bottom: 20px;
  }
  .cs_mission {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .cs_about_shape1 {
    margin-top: 30px;
  }

  .cs_about_shape2 {
    position: absolute;
    right: -100px;
    top: 0;
    animation: rotate-x 10s linear infinite;
  }
}
.cs_about.cs_style_4 {
  .cs_mission_title {
    line-height: 1.167em;
    margin-bottom: 5px;
  }

  .cs_about_subtitle {
    margin-bottom: 20px;
  }

  .cs_mission {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cs_about_shape1 {
    margin-top: 50px;
    // position: absolute;
    // left: 20px;
    // bottom: 30px;
  }

  .cs_about_shape2 {
    position: absolute;
    right: -20px;
    top: 0;
    animation: rotate-x 10s linear infinite;
  }

  .cs_about_shape3 {
    position: absolute;
    left: 56%;
    bottom: -10px;
    animation: move-x 10s linear infinite;
  }
}

.cs_tranquil_right {
  padding-left: 40px;
  border-left: 2px dashed $accent;
}

@keyframes move-x {
  50% {
    transform: translateX(50px);
  }
}

@keyframes rotate-x {
  50% {
    transform: translateX(30px) rotate(10deg);
  }
}
