.cs_about.cs_style_3 {
  .cs_mission_title {
    line-height: 1.167em;
    margin-bottom: 5px;
  }

  .cs_about_subtitle {
    margin-bottom: 20px;
  }

  .cs_mission {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cs_about_shape1 {
    position: absolute;
    left: 20px;
    bottom: 30px;
  }

  .cs_about_shape2 {
    position: absolute;
    right: -20px;
    top: 0;
    animation: rotate-x 10s linear infinite;
  }

  .cs_about_shape3 {
    position: absolute;
    left: 56%;
    bottom: -10px;
    animation: move-x 10s linear infinite;
  }
}

.cs_iconbox.cs_style_2 {
  display: flex;
  gap: 13px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .cs_iconbox_icon {
    width: 32px;
    height: 32px;
    background-color: $accent;
    color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cs_iconbox_title {
    line-height: 29px;
    margin-bottom: 5px;
  }
}

.cs_tranquil_right {
  padding-left: 40px;
  border-left: 2px dashed $accent;
}

.cs_iconbox.cs_style_3 {
  border: 1px solid $border;
  margin-bottom: 50px;
  padding: 25px 22px;
  background-color: $white;
  position: relative;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    background-color: $white;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .cs_iconbox_icon {
    display: inline-block;
    background-color: $primary;
    padding: 5px 40px;
    position: absolute;
    top: -20px;
    left: 10px;
  }

  .cs_iconbox_shape {
    width: 16px;
    height: 16px;
    border: 2px solid $primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);

    .cs_half_circle {
      width: 50%;
      height: 50%;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}

.cs_card.cs_style_4 {
  .cs_card_thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    transform: rotate(-45deg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .cs_card_overlay {
      width: inherit;
      height: inherit;
      background: rgba(0, 41, 53, 0.2);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px;

      &::after {
        content: "";
        width: 110%;
        height: 110%;
        border: 1px dashed $accent;
        position: absolute;
        top: -5%;
        left: -5%;
        border-radius: 5px;
      }

    }
  }

  .cs_card_arrow {
    display: inline-block;
    position: absolute;
    top: 24%;
    right: -70px;
    transform: translateY(-24%);
  }

  .cs_card_badge {
    width: 80px;
    height: 80px;
    background-color: #F5F9F9;
    border: 2px dashed $accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    right: -65px;
    z-index: 5;
    font-size: 26px;
    line-height: 36px;
    transition: all .4s ease-in-out;
  }

  .cs_card_title {
    font-size: 26px;
    line-height: 1.385em;
    margin-top: 80px;
  }

  &:hover {
    .cs_card_badge {
      background-color: $accent;
      color: $white;
    }

  }
}

.cs_card.cs_style_5 {


  .cs_card_thumb {
    overflow: hidden;

    .cs_hover_thumb {
      position: absolute;
      left: 0;
      clip-path: inset(0 100% 0 0);
      transition: all .4s ease-in-out;
    }

  }

  .cs_card_badge {
    padding: 8px 20px;
    position: absolute;
    left: 0;
    bottom: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    transform: translateX(-135px);
    transition: all .5s ease-in-out;
  }

  .cs_badge_btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid $white;
    background-color: $accent;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    right: -20px;
    filter: drop-shadow(2px 2px 7px rgba(123, 4, 4, 0.20));

    .fa-arrow-right-long {
      transform: translateX(-40px);
      transition: inherit;
      opacity: 0;
    }

    .fa-plus {
      transform: translateX(8px);
      opacity: 1;
      transition: inherit;
    }
  }

  .cs_social_container {
    padding-right: 30px;
    display: flex;
    gap: 20px;

    i {
      color: $white;
    }
  }

  &:hover {
    .cs_hover_thumb {
      clip-path: inset(0 0 0 0);
    }

    .cs_card_badge {
      background-color: $accent;
      transform: translateX(0px);
    }

    .fa-arrow-right-long {
      transform: translateX(-8px);
      opacity: 1;
    }

    .fa-plus {
      transform: translateX(30px);
      opacity: 0;

    }
  }

  .cs_card_info {
    padding: 20px 30px 25px;
    border-radius: 0px 0px 5px 5px;
    background: $white;
    box-shadow: 2px 3px 50px 0px rgba(188, 188, 188, 0.25);
  }

  .cs_card_title {
    line-height: 34px;
  }
}

@keyframes move-x {
  50% {
    transform: translateX(50px);
  }
}

@keyframes rotate-x {
  50% {
    transform: translateX(20px);
  }
}