.cs_about.cs_style_2{
  .cs_iconbox.cs_style_4{
    padding: 17px 40px;
    gap: 15px;
    margin-bottom: 30px;
    .cs_iconbox_title{
      line-height: 28px;
    }
  }
  q{
    line-height: 1.5em;
  }
}

.cs_about.cs_style_3 {
  .cs_mission_title {
      line-height: 1.167em;
      margin-bottom: 5px;
    }
    .cs_about_subtitle {
      margin-bottom: 20px;
    }  
    .cs_mission {
      margin-bottom: 17px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  .cs_about_shape1 {
    margin-top: 50px;
    // position: absolute;
    // left: 20px;
    // bottom: 30px;
  }

  .cs_about_shape2 {
    position: absolute;
    right: -100px;
    top: 0;
    animation: rotate-x 10s linear infinite;
  }
}
.cs_about.cs_style_4 {
  .cs_mission_title {
    line-height: 1.167em;
    margin-bottom: 5px;
  }

  .cs_about_subtitle {
    margin-bottom: 20px;
  }

  .cs_mission {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cs_about_shape1 {
    margin-top: 50px;
    // position: absolute;
    // left: 20px;
    // bottom: 30px;
  }

  .cs_about_shape2 {
    position: absolute;
    right: -20px;
    top: 0;
    animation: rotate-x 10s linear infinite;
  }

  .cs_about_shape3 {
    position: absolute;
    left: 56%;
    bottom: -10px;
    animation: move-x 10s linear infinite;
  }
}


.cs_tranquil_right {
  padding-left: 40px;
  border-left: 2px dashed $accent;
}

@keyframes move-x {
  50% {
    transform: translateX(50px);
  }
}

@keyframes rotate-x {
  50% {
    transform: translateX(20px);
  }
}