.cs_contact {
  background-color: #F7F8FD;

  .cs_form_field {
    border: 1px solid #DDD;
    background: $white;

    &:focus {
      border-color: $accent;
    }
  }

  textarea {
    resize: none;
  }

  label {
    margin-bottom: 12px;
  }

  .cs_custom_select_wrap {
    padding: 21px 0;

    .select2-container--default .select2-selection--single .select2-selection__arrow::after {
      content: "\f0da";
    }

  }

  .select2-container {
    min-width: 100%;
    padding: 0 15px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $secondary;
  }
}

/* Location Tracker Map Design*/
.cs_map {
  position: relative;

  .cs_map_overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 41, 53, 0.35);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  iframe {
    width: 100%;
    height: 650px;
    margin-bottom: -7px;
  }
}