.cs_course_details.cs_style_1 {
  .cs_course_thumb {
    margin-bottom: 37px;
  }

  .cs_course_badge {
    padding: 8px 16px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .cs_rating {
    transform: scale(.5);
    margin-right: -35px;
    letter-spacing: 8px;
    width: 170px;
  }

  .cs_course_title {
    line-height: 65px;
  }
.cs_course_instructor {
  margin-bottom: 20px;
}
}