.cs_course.cs_style_1 {
  width: 100%;
  transition: all 0.4s ease-in-out;

  .cs_course_thumb {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cs_badge_container {
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 3;
  }

  .cs_course_badge {
    padding: 3px 16px;
    transition: all 0.4s ease-in-out;
  }

  .cs_course_cart {
    display: flex;
    gap: 10px;
  }

  .cs_course_info {
    padding: 20px 20px 26px;
  }

  .cs_separator {
    width: 100%;
    height: 1px;
    background: #e9e9e9;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .cs_course_meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .cs_course_title {
    line-height: 1.455em;
  }
  .cs_course_instructor {
    margin-bottom: 0;
  }
  .cs_rating {
    transform: scale(0.5);
    margin-right: -35px;
    letter-spacing: 8px;
    width: 170px;
  }

  &:hover {
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
    .cs_course_badge {
      background-color: $accent;
      color: $white;
    }
  }
}
.cs_course.cs_style_2 {
  display: flex;
  border-radius: 3px;
  background: $white;
  transition: all 0.4s ease;
  &.cs_reverse {
    flex-direction: row-reverse;
  }
  @media (max-width: 575px) {
    flex-wrap: wrap;
  }
  .cs_course_thumb {
    display: inline-block;
    width: 100%;
    max-width: 230px;
    position: relative;
    @media (max-width: 575px) {
      min-width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cs_sourse_badge {
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px 16px;
    transition: all 0.4s ease-in-out;
    border-radius: 0 0 2px 0;
    z-index: 3;
  }

  .cs_course_info {
    flex: 1;
    padding: 30px 20px;
  }

  .cs_separator {
    width: 100%;
    height: 1px;
    background: #e9e9e9;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .cs_course_meta {
    margin-bottom: 20px;
    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  s .cs_course_title {
    line-height: 1.455em;
  }

  .cs_rating {
    transform: scale(0.5);
    margin-right: -35px;
    letter-spacing: 8px;
    width: 170px;
  }

  &:hover {
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  }
  .cs_course_instructor {
    margin-bottom: 0;
  }
}
.cs_course.cs_style_3 {
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
  .cs_course_thumb {
    display: inline-block;
  }
  .cs_course_thumb_overlay {
    background: rgba(0, 41, 53, 0.2);
    transform: scale(0);
    transition: all 0.6s ease;
  }
  .cs_sourse_badge {
    position: absolute;
    left: 20px;
    bottom: -10px;
    padding: 3px 16px;
    transition: all 0.4s ease;
    z-index: 3;
  }
  .cs_course_cart {
    position: absolute;
    top: 17px;
    right: 32px;
    font-size: 20px;
    z-index: 3;
  }
  .cs_course_info {
    flex: 1;
    padding: 30px 20px;
  }

  .cs_separator {
    width: 100%;
    height: 1px;
    background: #e9e9e9;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .cs_course_meta {
    margin-bottom: 20px;
    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .cs_course_title {
    line-height: 1.455em;
  }
  .cs_rating {
    transform: scale(0.5);
    margin-right: -35px;
    letter-spacing: 8px;
    width: 170px;
  }

  &:hover {
    .cs_course_thumb_overlay {
      transform: scale(1);
    }
    .cs_sourse_badge {
      background-color: $accent;
    }
  }

  .cs_course_instructor {
    margin-bottom: 0;
  }
}
.cs_course.cs_style_4 {
  min-height: auto;
  .cs_course_thumb {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    flex: none;
    margin-right: 20px;
  }
  img {
    transition: all 1s ease;
  }
  .cs_course_thumb_overlay {
    transform: scale(0);
    transition: all 0.4s ease;
  }
  .cs_course_title {
    margin-bottom: 10px;
  }
  .cs_course_subtitle {
    margin-bottom: 10px;
  }
  .cs_course_action {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &:hover {
    .cs_course_thumb_overlay {
      transform: scale(1);
    }
    img {
      transform: scale(1.08);
    }
  }
}
.cs_course_instructor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cs_instructor_bio {
  position: relative;
  padding-left: 50px;
  .cs_instructor_thumb {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.cs_course_list {
  @media (max-width: 1399px) {
    overflow-x: auto;
  }
}
.cs_courses_table {
  min-width: 1300px;
  td,
  th {
    padding: 20px;
    vertical-align: middle;
    .cs_cart_btn {
      padding: 5px 10px;
      border: 2px solid $accent;
      background-color: transparent;
      color: $accent;
      transition: all 0.4s ease;
      &:hover {
        background-color: $accent;
        color: $white;
      }
    }
  }
}
/*-----------------------------------
 Start course page design
 -----------------------------------*/
.cs_course_heading {
  .cs_isotope_filter.cs_style_1 ul {
    justify-content: flex-start;
  }
  h3 {
    line-height: 1.4em;
  }
  .cs_filter_icon {
    width: max-content;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
    background: $gray;
    padding: 10px 15px;
  }

  .cs_filter_action.cs_style_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
    background: $gray;
    padding: 10px 0;
    padding-left: 15px;
    position: relative;
    select {
      border: none;
      outline: none;
    }
  }
}
/* End course page design*/
