.cs_faq.cs_style_1 {
  .cs_section_title {
    line-height: 1.45em;
  }

  .cs_accordian_wrap {
    padding-right: 60px;
  }

  .cs_faq_thumb {
    width: 50vw;
    position: relative;
    min-height: 800px;
    height: 100%;
  }

  .cs_faq_contact_box {
    padding: 54px 16%;
    position: absolute;
    left: 0;
    bottom: 0;

    .cs_faq_contact_box_icon {
      margin-bottom: 10px;
    }

    .cs_faq_support_text {
      line-height: 1.45em;
      margin-bottom: 8px;
    }

    .cs_btn.cs_style_1 {
      margin-top: 13px;
      color: $accent;
      &:hover::after{
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}