/*--------------------------------------------------------------
  9. Hero
----------------------------------------------------------------*/
.cs_hero.cs_style_1 {
  .cs_hero_inner {
    width: 100%;
    height: 900px;
    position: relative;
  }
  .cs_hero_text {
    position: relative;
    z-index: 1;
  }
  .cs_hero_mini_title {
    line-height: 1.459em;
    margin-bottom: 30px;
  }

  .cs_hero_title {
    line-height: 1.154em;
    margin-bottom: 25px;
  }

  .cs_hero_subtitle {
    line-height: 1.556em;
    margin-bottom: 42px;
  }

  .cs_button_group {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .cs_hero_btn2 {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .cs_rating {
    margin-bottom: 5px;
  }

  .cs_rating_text {
    line-height: 1.459em;
  }
}

.cs_page_heading {
  min-height: 400px;
  .cs_page_title {
    position: relative;
    z-index: 2;
  }
  .cs_hero_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 41, 53, 0.45);
    position: absolute;
    top: 0;
    left: 0;
  }

  .cs_breadcrumb_wrap {
    width: 100%;
    overflow: hidden;
    right: 0;
    bottom: 0;
  }
  .cs_breadcrumb_in {
    display: flex;
    justify-content: flex-end;
  }

  .breadcrumb {
    padding: 11px 0 11px 30px;
    position: relative;
    &::before {
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      background-color: $accent;
      position: absolute;
      width: 100vw;
    }
    > * {
      position: relative;
      z-index: 1;
    }
    a {
      &:hover {
        opacity: 0.75;
      }
    }
  }
  .breadcrumb-item {
    line-height: 1.556em;

    a:hover {
      color: $white;
    }

    &::before {
      color: $white;
    }
  }
}
