/*--------------------------------------------------------------
  9. Hero
----------------------------------------------------------------*/
.cs_hero.cs_style_1 {
  .cs_hero_inner {
    width: 100%;
    height: 900px;
    position: relative;
  }

  .cs_hero_text {
    position: relative;
    z-index: 1;
  }

  .cs_hero_mini_title {
    line-height: 1.459em;
    margin-bottom: 30px;
  }

  .cs_hero_title {
    line-height: 1.154em;
    margin-bottom: 25px;
  }

  .cs_hero_subtitle {
    line-height: 1.556em;
    margin-bottom: 43px;
  }

  .cs_button_group {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .cs_hero_btn2 {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .cs_rating {
    margin-bottom: 5px;
  }

  .cs_rating_text {
    line-height: 1.459em;
  }
}
.cs_hero.cs_style_2 {
  padding-top: 65px;
  .cs_hero_title {
    line-height: 1.313em;
    margin-bottom: 23px;
  }
  .cs_hero_subtitle {
    line-height: 1.556em;
    margin-bottom: 49px;
  }
  .cs_hero_thumb img {
    position: relative;
    z-index: 3;
  }
  .cs_hero_shape1 {
    top: 0;
    right: 30px;
  }
  .cs_hero_shape2 {
    bottom: 60px;
    right: 150px;
  }
  .cs_hero_shape3 {
    top: 50%;
    left: -34px;
    z-index: 0;
  }
  .cs_hero_hidden {
    width: 100%;
    height: 150px;
    background-color: $white;
    clip-path: inset(40% 0 0 0);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
  .cs_hero_btn_group {
    gap: 20px;
  }
  .cs_client_info_btn {
    padding-left: 150px;
    img:hover {
      z-index: 1;
      transform: translateY(-50%) scale(1.1);
    }
  }
  .cs_icon1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
  }
  .cs_icon2 {
    position: absolute;
    left: 36px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
  }
  .cs_icon3 {
    position: absolute;
    left: 72px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
  }
}

.cs_hero.cs_style_3 {
  height: 100%;
  min-height: 850px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 120px 0;
  position: relative;

  .cs_hero_mini_title {
    line-height: 1.458em;
    margin-bottom: 30px;
  }

  .cs_hero_title {
    line-height: 1.154em;
    margin-bottom: 26px;
  }

  .cs_hero_subtitle {
    line-height: 1.556em;
    margin-bottom: 42px;
  }

  .cs_btn.cs_style_1 {
    position: relative;
    z-index: 3;
  }

  .cs_hero_text {
    position: relative;
    z-index: 3;
    transform: translateY(-50px);
    transition: all 0.6s ease-in-out;
  }
}

.slick-active {
  .cs_hero.cs_style_3 .cs_hero_text {
    transform: translateY(0px);
  }
}

.cs_page_heading {
  min-height: 400px;

  .cs_page_title {
    position: relative;
    z-index: 2;
  }

  .cs_hero_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 41, 53, 0.45);
    position: absolute;
    top: 0;
    left: 0;
  }

  .cs_breadcrumb_wrap {
    width: 100%;
    overflow: hidden;
    right: 0;
    bottom: 0;
  }

  .cs_breadcrumb_in {
    display: flex;
    justify-content: flex-end;
  }

  .breadcrumb {
    padding: 11px 0 11px 30px;
    position: relative;

    &::before {
      content: "";
      height: 100%;
      left: 0;
      top: 0;
      background-color: $accent;
      position: absolute;
      width: 100vw;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    a {
      &:hover {
        opacity: 0.75;
      }
    }
  }
  .breadcrumb-item {
    line-height: 1.556em;
    a:hover {
      color: $white;
    }

    &::before {
      color: $white;
    }
  }
  .breadcrumb-item[aria-current="page"] {
    color: rgba($color: $white, $alpha: 0.75);
  }
}
