/*--------------------------------------------------------------
19. Modal
----------------------------------------------------------------*/
.cs_modal {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  overflow: auto;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.cs_modal_container {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  position: relative;
  z-index: 2;
  padding: 50px;
  border-radius: 10px;
  background-color: $white;

  @media (max-width: 400px) {
    padding: 30px 15px;
  }
}

.cs_modal_in {
  padding: 60px 20px 30px;
}

.cs_close_overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  cursor: zoom-out;
  background-color: rgba(13, 12, 23, 0.9);
  backdrop-filter: blur(0px);
}

.cs_close_modal {
  padding: 0;
  border: none;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: transparent;
  color: red;
  font-size: 18px;
  border: 1px solid $border;
  border-radius: 50%;
  transition: all 0.4s ease;
  &:hover {
    border-color: red;
  }
}

.cs_modal_btn {
  cursor: pointer;
}
.cs_modal.cs_size_sm {
  .cs_modal_container {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    padding: 0;
  }
}
.cs_modal.cs_size_md {
  .cs_modal_container {
    width: 100%;
    max-width: 650px;
    border-radius: 15px;
    padding: 0;
    .cs_modal_header {
      padding: 30px;
      border-bottom: 1px solid $border;
    }
    .cs_modal_body {
      padding: 0 30px 30px;
      border-bottom: 1px solid $border;
    }
    .cs_modal_footer {
      padding: 30px;
    }
    .cs_rating_group {
      padding: 30px 0;
      font-size: 24px;
      .cs_amount {
        background-color: rgba($color: $primary, $alpha: 0.1);
        padding: 8px 16px;
        border-radius: 5px;
        font-size: 16px;
      }
    }
    .cs_form_field {
      background-color: transparent;
    }
    label {
      margin-bottom: 10px;
    }
    .cs_btn {
      border: none;
      border: 1px solid $border;
      padding: 8px 16px;
      border-radius: 5px;
      transition: all 0.4s ease;
    }
    .cs_btn.cs_cancel {
      background-color: transparent;
      &:hover {
        color: $accent;
        border-color: $accent;
      }
    }
    .cs_btn.cs_submit {
      background-color: $accent;
      color: $white;
      border-color: $accent;
      &:hover {
        color: $accent;
        background-color: transparent;
      }
    }
  }
}
