.cs_post_details.cs_style_1 {
  .cs_post_thumb {
    margin-bottom: 30px;
  }
  .cs_post_meta {
    gap: 35px;
    margin-bottom: 24px;
    i {
      margin-right: 7px;
    }
  }
  .cs_post_gallery {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  .cs_sidebar_tags {
    padding: 40px 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    justify-content: space-between;

    .cs_sidebar_title {
      margin-right: 30px;
    }

    .cs_tag_list {
      display: flex;
      column-gap: 20px;
    }

    .cs_tag_link {
      display: inline-block;
      width: 112px;
      padding: 10px 0;
      background: #f8f8f8;
      text-align: center;

      &:hover {
        background-color: $accent;
        color: $white;
      }
    }
    .cs_social_btn.cs_style_1 a {
      width: 45px;
      height: 45px;
      border: 1px solid $accent;
      color: $accent;
      &:hover {
        background-color: $accent;
        color: $white;
      }
    }
  }

  .cs_author_bio {
    display: flex;
    gap: 40px;
    padding: 46px 0 41px;
    border-bottom: 1px solid #e3e3e3;

    .cs_author_desc {
      flex: 1;
    }

    .cs_author_thumb {
      overflow: hidden;
    }
    .cs_social_btn.cs_style_1 {
      a {
        width: 50px;
        height: 50px;
        border: 1px solid #e7e7e7;
        background-color: #f8fafa;
        &:hover {
          background-color: $accent;
          color: $white;
          border-color: $accent;
        }
      }
    }
  }
  .cs_single_post_nav {
    display: flex;
    gap: 20px;
    background: #f8f8f8;
    padding: 37px 27px;

    &.cs_next_post {
      flex-direction: row-reverse;

      .cs_post_content {
        text-align: right;
      }
    }

    .cs_post_thumb {
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 0;
    }

    .cs_title {
      line-height: 1.474em;
      margin-top: 5px;
    }

    .cs_post_content {
      flex: 1;
    }

    .cs_post_btn {
      display: inline-flex;
      align-items: center;
      gap: 12px;
    }
  }
}
