.cs_pricing_control {
  list-style: none;

  li {
    display: flex;
    align-items: center;
    position: relative;

    &:last-child {
      a {
        &::before {
          left: initial;
          right: 100%;
        }
      }
    }
  }

  .cs_switch {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 134px;
    border-radius: 45px;
    background: #ebe8fe;
    margin: 0 25px;

    &::before {
      content: "";
      width: 78px;
      height: 50px;
      border-radius: 45px;
      background-color: $accent;
      top: 0px;
      left: 55px;
      position: absolute;
      transition: all 0.4s ease;
    }
  }

  .active {
    .cs_switch {
      &::before {
        left: 0;
      }
    }
  }

  a {
    position: relative;

    &::before {
      content: "";
      height: 50px;
      width: 78px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      z-index: 1;
    }
  }
}

.cs_tab_links.cs_style_1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f6f4ff;
  margin-bottom: 35px;

  .cs_tab_title {
    display: inline-block;
    padding: 17px 0;
    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: $accent;
      position: absolute;
      left: 0;
      bottom: 1px;
      transition: all 0.4s ease-in-out;
    }

    &:hover,
    &.active {
      &::after {
        width: 100%;
      }
    }
  }
}
.cs_tab_links.cs_style_2 {
  width: max-content;
  background-color: $accent;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
  li {
    a {
      display: inline-block;
      background-color: transparent;
      color: $white;
      padding: 10px 30px;
      border-radius: 10px;
      transition: all 0.4s ease;
    }
    &.active {
      a {
        background-color: $white;
        color: $primary;
      }
    }
  }
}

/*--------------------------------
 Tab styling
 -------------------------------*/
// .cs_tabs {
//   display: none;
//   &.active {
//     display: block;
//   }
// }
.cs_tab {
  display: none;

  .cs_title {
    line-height: 1.333em;
    margin-bottom: 10px;
  }

  &.active {
    display: block;
  }
}
