.cs_pricing_control {
  list-style: none;

  li {
    display: flex;
    align-items: center;
    position: relative;

    &:last-child {
      a {
        &::before {
          left: initial;
          right: 100%;
        }
      }
    }
  }

  .cs_switch {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 134px;
    border-radius: 45px;
    background: #EBE8FE;
    margin: 0 25px;

    &::before {
      content: '';
      width: 78px;
      height: 50px;
      border-radius: 45px;
      background-color: $accent;
      top: 0px;
      left: 55px;
      position: absolute;
      transition: all 0.4s ease;
    }
  }

  .active {
    .cs_switch {
      &::before {
        left: 0;
      }
    }
  }

  a {
    position: relative;

    &::before {
      content: '';
      height: 50px;
      width: 78px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      z-index: 1;
    }
  }
}

.cs_tab_links.cs_style_1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #F6F4FF;
  margin-bottom: 35px;

  .cs_tab_title {
    display: inline-block;
    padding: 16px 0;
    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: $accent;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all .4s ease-in-out;
    }

    &:hover,
    &.active {
      &::after {
        width: 100%;
      }
    }
  }
}

/* Tab styling*/
.cs_tab {
  display: none;

  .cs_title {
    line-height: 1.333em;
    margin-bottom: 9px;
  }

  &.active {
    display: block;
  }
}